@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
	--blue-color: #2196F3;
	--black-color: #212121;
	--gray-color: #757575;
	--icon-color: #AFB1B8;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	font-family: 'Roboto', 'Raleway', 'Arial', sans-serif;
	font-style: normal;
	color: var(--black-color);
}

a {
	text-decoration: none;
	color: #000;
	font-style: normal;
}

li {
	list-style: none;
}

button {
	cursor: pointer;
	border: none;
}

.btn {
	padding: 6px 22px;
	background: #F5F4FA;
	border: none;
	border-radius: 4px;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	color: var(--black-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
	background-color: var(--blue-color);
	color: #FFFFFF;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.title-fz36 {
	color: var(--black-color);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

svg {
	fill: currentColor;
}

/* LOGO */
.logo {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.logo span {
	color: var(--blue-color);
}

/*HEADER*/
.header {
	padding: 25px 0 25px;
	border-bottom: 1px solid #ECECEC;
}

.header__wrapper {
	display: flex;
	align-items: center;
	width: 100%;
}

.menu {}

.menu__list {
	display: flex;
	width: 281px;
	margin-left: 93px;
	justify-content: space-between;
}

.menu__item a {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--black-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__item {
	position: relative;

}

.menu__item-active::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -32px;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--blue-color);
}

.menu__item-active a {
	color: var(--blue-color);
}

.menu__item a:hover, .menu__item a:focus {
	color: var(--blue-color);
}

.contacts__list {
	display: flex;
	margin-left: auto;
}

.contacts__item {
	position: relative;
}

.contacts__item a {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--gray-color);
	display: flex;
	align-items: center;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contacts__item a:hover, .contacts__item a:focus {
	color: var(--blue-color);
}

.contacts__item:last-child {
	margin-left: 50px;
}

.contacts__icon {

	margin-right: 10px;
}

.contacts__icon.icon-envelop {
	width: 16px;
	height: 12px;
}

.contacts__icon.icon-phone {
	width: 10px;
	height: 16px;
}



/*MAIN PAGE*/

/*HERO*/
.hero {
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 200px 0;
	max-width: 1600px;

}

.hero__title {
	width: 696px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0 auto;
	margin-bottom: 40px;
}

.hero__btn {
	display: block;
	background: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 10px 32px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	margin: 0 auto;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/*ABOUT*/

.about {
	padding-bottom: 0;
}

.about__list {
	display: flex;
	justify-content: space-between;
}

.about__item {
	width: 270px;
}

.about__subtitle {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--black-color);
	margin-bottom: 10px;
}

.about__descr {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--gray-color);
}

.about__icon {
	background: #F5F4FA;
	border-radius: 4px;
	height: 120px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about__icon .icon {
	display: block;
	width: 70px;
	height: 70px;
}

/*JOB*/

.job {}

.job__title {
	margin-bottom: 50px;
}

.job__list {
	display: flex;
	justify-content: space-between;
}

.job__item {
	position: relative;
}

.job__img {
	display: block;
}

.job__descr {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.71;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	padding: 27px 0;
	color: #fff;
	background: rgba(47, 48, 58, 0.8);
	position: absolute;
	width: 100%;
	bottom: 0;
}

/*TEAM*/

.team {

	background: #F5F4FA;
}

.team__title {
	margin-bottom: 50px;
}

.team__list {
	display: flex;
	justify-content: space-between;
}

.team__item {
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
}

.team__item>div {
	padding: 30px 10px;
}

.team__item img {}

.team__name {
	font-size: 16px;
	font-weight: 500;
	color: var(--black-color);
	margin-bottom: 10px;
}

.team__vacancy {
	font-weight: 400;
	color: var(--gray-color);
	margin-bottom: 16px;
}

.social__list {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.social__item a {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	color: var(--icon-color, #AFB1B8);
}

.social__link:hover, .social__link:focus {
	color: #fff;
	background-color: var(--blue-color);

}


.social__icon {

	width: 20px;
	height: 20px;
}

/* CLIENTS */

.clients {}

.clients__title {
	margin-bottom: 50px;
}

.clients__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.clients__item {}

.clients__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 92px;
	border: 1px solid #AFB1B8;
	border-radius: 4px;
	color: var(--icon-color, #AFB1B8);
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
	width: 106px;
	height: 60px;
}

.clients__link:hover, .clients__link:focus {
	color: var(--blue-color);
	border-color: var(--blue-color);
}

/*PORTFOLIO PAGE*/
/*PORTFOLIO*/
.portfolio__works {
	padding-bottom: 94px;
}

/*BUTTONS*/
.filter__list {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.filter__item {}

.filter__item:last-child {
	margin-right: 0;
}

.filter__btn {}

.filter__btn:hover,
.filter__btn:focus {}

.works__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 34px;
}

.work {}

.work__link {
	display: block;
	width: 370px;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__wrapper {
	padding: 24px 20px;
	border: 1px solid #EEEEEE;
	border-top: none;
}

.work__card {
	position: relative;
}

.work__img {
	display: block;
}

.work__card {
	position: relative;
	overflow: hidden;
}

.work__info {
	position: absolute;
	width: 100%;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	background: rgba(33, 150, 243, 0.9);
	padding: 63px 24px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2.00;
	letter-spacing: 0.06em;
	color: var(--black-color);
	margin-bottom: 4px;
}

.work__descr {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: #757575;
}

.work__link:hover, .work__link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work__link:hover .work__info {
	transform: translateY(-100%);
}

/* FOOTER */

.footer {
	background: #2F303A;
	padding: 60px 0;
}

.footer__wrapper {
	display: flex;
	gap: 70px;
	align-items: baseline;
}

.footer .logo {
	display: block;
	color: #fff;
	margin-bottom: 20px;
}

.footer a {
	text-decoration: none;

}

.address {
	display: flex;
	flex-direction: column;
	max-width: 231px;
}

.address__item:not(:last-child) {
	margin-bottom: 9px;
}

.address__link {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);


}

.address__item:first-child .address__link {
	color: #FFF;
}

.address__item .address__link:hover, .address__item .address__link:focus {
	color: var(--blue-color);
}

.social__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 20px;
}

.footer__item .social__link {
	color: #fff;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
}

.footer__item .social__link:hover, .footer__item .social__link:focus {
	background-color: var(--blue-color);
}

.footer__form {
	height: 50px;
	display: flex;
	gap: 40px;
}

.footer__form input {
	height: 100%;
	width: 358px;
	padding: 15px 16px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	color: #fff;
}

.footer__form input:focus {
	outline: none;
	border-color: var(--blue-color);

}

.footer__btn {
	padding: 10px 62px 10px 28px;
	background-color: var(--blue-color);
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: #FFFFFF;
	vertical-align: middle;
	position: relative;

}

.footer__icon-btn {
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	right: 28px;
	top: 13px;
}

/* MODAL */

.modal {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1050;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__dialog {
	max-width: 528px;
	margin: 221px auto;
}

.modal__content {
	position: relative;
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	width: 100%;
	padding: 40px;
}

.modal__close {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	right: 8px;
	top: 8px;
	cursor: pointer;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #fff;
}

.modal__close:hover, .modal__close:focus {
	color: var(--blue-color);
}

.close__icon {
	width: 11px;
	height: 11px;
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}



.modal__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	margin-bottom: 12px;
}

.modal__list {
	margin-bottom: 20px;
}

.modal__input {
	position: relative;
	margin-bottom: 10px;
}

.modal__input label {
	display: block;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: #757575;
	margin-bottom: 4px;
}

.modal__input input {
	display: block;
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 42px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input textarea {
	width: 100%;
	height: 120px;
	resize: none;
	padding: 12px 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}

.modal__input textarea::placeholder {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.modal__input input:focus, .modal__input textarea:focus {
	background-color: #fff;
	border-color: var(--blue-color);
	outline: 0;
}

.input__icon {
	display: block;
	position: absolute;
	bottom: 14px;
	left: 15px;
}

.modal__input-form:focus+.input__icon {
	fill: var(--blue-color);
}

.modal__policy {
	text-align: center;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #757575;
	margin-bottom: 30px;
}

.modal__policy label {
	display: flex;
	align-items: center;
}

.modal__checkbox {
	appearance: none;
}

.modal__policy span {
	display: inline-block;
}

.checkbox__icon {
	display: inline-block;
	width: 16px;
	height: 15px;
	border: 2px solid var(--black-color);
	border-radius: 4px;
	margin-right: 7px;
}

.modal__checkbox:checked+.checkbox__icon {
	background-color: var(--blue-color);
	background-image: url('../img/checkbox.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-origin: border-box;
	border-color: transparent;
}

.modal__policy a {
	text-decoration: underline;
	color: var(--blue-color);
}

.modal__btn {
	display: block;
	margin: 0 auto;
	padding: 10px 52px;

	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: #FFFFFF;
	background-color: var(--blue-color);
}

.hide {
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
}