@import 'libs/modern-normalize';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
@import 'untils/veriables';
@import 'untils/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    color: var(--black-color);
}

a {
    text-decoration: none;
    color: #000;
    font-style: normal;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.container {
    width: 100%;
    padding: 0 15px;
    @include mq(mob) {
        width: 480px;
        margin: 0 auto;
    }
    @include mq(tab) {
        width: 768px;
    }
    @media screen and (min-width:1200px) {
        width: 1200px;
        margin: 0 auto;
    }
}

.section {
    padding: 60px 0;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }


}

svg {
    fill: currentColor;
}

@import 'components/buttons';
@import 'components/logo';
@import 'components/title';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/modal';
@import 'blocks/hero';
@import 'blocks/about';
@import 'blocks/job';
@import 'blocks/team';
@import 'blocks/social';
@import 'blocks/clients';
@import 'blocks/portfolio';
@import 'blocks/footer';
// @import 'blocks/media';