.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-mail {
  width: 1.3330078125em;
}

.icon-antenna {
  width: 0.9423828125em;
}

.icon-envelope {
  width: 1.3330078125em;
}

.icon-logo1 {
  width: 0.8720703125em;
}

.icon-logo2 {
  width: 0.76953125em;
}

.icon-logo3 {
  width: 1.0712890625em;
}

.icon-logo4 {
  width: 2.0234375em;
}

.icon-logo5 {
  width: 1.3408203125em;
}

.icon-logo6 {
  width: 2.0888671875em;
}

.icon-smartphone {
  width: 0.625em;
}

.icon-twitter {
  width: 1.111328125em;
}
