.modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__dialog {
        width: 100%;
        margin: 30px auto;

        @include mq(mob) {
            margin: 83px auto;
            width: 450px;
        }

        @include mq(tab) {
            margin: 208px auto;
        }

        @include mq(desk) {
            margin: 221px auto;
            max-width: 528px;
        }
    }

    &__content {
        position: relative;
        background-color: #fff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        width: 100%;
        padding: 40px;
        top: 0;

        @include mq(mob) {}
    }

    &__close {
        position: absolute;
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        right: 8px;
        top: 8px;
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #fff;

        &:hover,
        &:focus {
            color: var(--blue-color);
        }
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 12px;
    }

    &__list {
        margin-bottom: 20px;
    }

    &__input {
        position: relative;
        margin-bottom: 10px;

        & label {
            display: block;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: #757575;
            margin-bottom: 4px;
        }

        & input {
            display: block;
            width: 100%;
            height: 40px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            padding: 12px 42px;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:focus {
                background-color: #fff;
                border-color: var(--blue-color);
                outline: 0;
            }
        }

        & textarea {
            width: 100%;
            height: 120px;
            resize: none;
            padding: 12px 16px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;

            &::placeholder {
                font-size: 12px;
                line-height: 1.17;
                letter-spacing: 0.01em;
                color: rgba(117, 117, 117, 0.5);
            }

            &:focus {
                background-color: #fff;
                border-color: var(--blue-color);
                outline: 0;
            }
        }

        &-form:focus+.input__icon {
            fill: var(--blue-color);
        }
    }

    .close__icon {
        width: 11px;
        height: 11px;
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .input__icon {
        display: block;
        position: absolute;
        bottom: 14px;
        left: 15px;
    }

    &__policy {
        text-align: center;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
        margin-bottom: 30px;

        & label {
            display: flex;
            align-items: center;
        }

        & span {
            display: inline-block;
        }

        & a {
            text-decoration: underline;
            color: var(--blue-color);
        }
    }

    &__checkbox {
        appearance: none;

        &:checked+.checkbox__icon {
            background-color: var(--blue-color);
            background-image: url('../img/checkbox.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-origin: border-box;
            border-color: transparent;
        }
    }

    .checkbox__icon {
        display: inline-block;
        width: 16px;
        height: 15px;
        border: 2px solid var(--black-color);
        border-radius: 4px;
        margin-right: 7px;
        flex-shrink: 0;
    }

    &__btn {
        display: block;
        margin: 0 auto;
        padding: 10px 52px;

        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background-color: var(--blue-color);
    }
}

.hide {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}