:root {
    --blue-color: #2196F3;
    --black-color: #212121;
    --gray-color: #757575;
    --icon-color: #AFB1B8;
}

$main-color: #2196F3;
$main-text-color: #212121;
$second-text-color: #757575;
$icon-color:#AFB1B8;
$background-color: #F5F4FA;
